<html>
<head>
<title>login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container margin-top-80">
		<div class="row" align="center">
			<img src="images/aspire-logo.jpg">
		</div>
		<div
			class="panel-info col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panelHeading text-center" ng-controller="breadCrumbCtrl">
				<div ng-include="'views/templates/breadcrumb.html'"></div>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="row">
						<div class="col-xs-6 form-group">
							<input type="text" class="form-control" id="bankName"
								ng-model="bankName" placeholder="Bank Name" required>
						</div>
						<div class="col-xs-1 form-group"></div>
						<div class="col-xs-6 form-group">
							<input type="text" class="form-control" id="branchName"
								ng-model="branchName" placeholder="Branch Name" required>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6 form-group">
							<input type="text" class="form-control" id="accountNumber"
								ng-model="accountNumber" placeholder="Account Number" required>
						</div>
						<div class="col-xs-1 form-group"></div>
						<div class="col-xs-6 form-group">
							<input type="text" class="form-control" id="accountType"
								ng-model="accountType" placeholder="Account Type" required>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-xs-5">
							<input type="text" class="form-control" id="UANnumber" ng-model="UANnumber"
								placeholder="UAN(if you have already)" required>
						</div>
					</div>

					<div class="row margin">
						<div class="col-xs-offset-3  col-xs-5">
							<button type="submit" class="btn btn-block" ng-click="saveData()">
								Skip For Now <span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</div>
					</div>

					<div class="row margin">
						<div class="col-xs-5">
							<button type="submit" class="btn btn-block" ng-click="goToPassportDetails()">
								<span class="glyphicon glyphicon-arrow-left"></span> Back
							</button>
						</div>
						<div class="col-xs-1"></div>
						<div class="col-xs-5">
							<button type="submit" class="btn btn-block" ng-click="saveData()">
								Continue <span class="glyphicon glyphicon-arrow-right"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
