<html>
<head>
<title>login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container margin-top-20">
		<div ng-include="'views/templates/header.html'"></div>
		<div class="row">
			<div
				class="col-md-8 col-md-offset-2 col-sm-12  text-center margin-top-20">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">Education Details</div>
					<div class="panel-body" ng-show="showForm"
						ng-controller="breadCrumbCtrl" ng-init="activeMenu='Education'">
						<div ng-include="'views/templates/breadcrumb.html'"></div>
						<form class="form-horizontal">
							<div class="row">
								<div class="col-xs-12 col-md-6 form-group">
									<input type="text" class="form-control" id="institution"
										ng-model="educationDetail.institution"
										placeholder="School/Institution" required>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6 form-group">
									<input type="text" class="form-control" id="fromYear"
                                                                                ng-model="educationDetail.fromYear"
                                                                                placeholder="From Year" min=1950 max=2016 required>
								</div>
								<div class="col-xs-1 form-group"></div>
								<div class="col-xs-6 form-group">
									<input type="text" class="form-control" id="fromTo"
                                                                                ng-model="educationDetail.toYear"
                                                                                placeholder="To Year" min=1950 max=2016 required>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 col-md-6 form-group">
									<input type="text" class="form-control" id="board"
										ng-model="educationDetail.board"
										placeholder="Board/ University" required>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6 form-group">
									<input type="text" class="form-control" id="cgpa"
										ng-model="educationDetail.cgpa" min=1 max=100 placeholder="%/CGPA" required>
								</div>
								<div class="col-xs-1 form-group"></div>
								<div class="col-xs-6 form-group">
									<input type="hidden" class="form-control" id="id"
										ng-model="educationDetail._id">
									<select class="form-control" id="degree"
										ng-model="educationDetail.degree" placeholder="Degree"
										class="col-md-6">
										<option selected="selected" value="SSLC">SSLC</option>
										<option value="HSC">HSC</option>
										<option value="BE">BE</option>
										<option value="BSC">BSC</option>
										<option value="B.Com">B.Com</option>
										<option value="ME">ME</option>
										<option value="MBA">MBA</option>
										<option value="MSC">MSC</option>
									</select>
								</div>
							</div>

							<div class="row margin">
								<div class="col-xs-offset-3  col-xs-5">
									<button type="submit"
										class="md-raised md-primary md-button md-ink-ripple mainBut"
										ng-click="save()">
										<span class="ng-scope">Save</span> <i class="icon-save"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="panel-body" ng-show="showTable" ng-controller="breadCrumbCtrl" ng-init="activeMenu='Education'">
						<div ng-include="'views/templates/breadcrumb.html'"></div>
						<div class="row">
							<table id="EducationDetailsTable"
								class="table table-striped table-hover table-users">
								<thead>
									<tr>
										<th>School / Instituition</th>
										<th>From</th>
										<th>To</th>
										<th>Degree</th>
										<th>Board / University</th>
										<th>% / CGPA</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="detail in detailsList">
										<td>{{detail.institution}}</td>
										<td>{{detail.fromYear}}</td>
										<td>{{detail.toYear}}</td>
										<td>{{detail.board}}</td>
										<td>{{detail.degree}}</td>
										<td>{{detail.cgpa}}</td>
										<td><a ng-click="edit(detail._id)">Edit</a></td>
										<td><a ng-click="delete(detail._id)">Delete</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row margin">
							<div class="col-xs-5">
								<button type="submit"
									class="md-raised md-primary md-button md-ink-ripple secondaryBut"
									ng-click="goToPreviousPage()">
									<i class="fa fa-angle-double-left ng-scope"></i> <span
										class="ng-scope">Back</span>
								</button>
							</div>
							<div class="col-xs-1"></div>
							<div class="col-xs-5">
								<button type="submit"
									class="md-raised md-primary md-button md-ink-ripple mainBut"
									ng-click="goToNextPage()">
									<span class="ng-scope">Continue</span> <i
										class="fa fa-angle-double-right ng-scope"></i>
								</button>
							</div>
						</div>
						<div class="row margin">
							<div class="col-xs-offset-3  col-xs-5">
								<button type="submit"
									class="md-raised md-primary md-button md-ink-ripple secondaryBut"
									ng-click="addMoreDetails()">
									<span class="ng-scope">Add More</span><i class="fa fa-plus"
										aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div ng-include="'views/templates/footer.html'"></div>
</body>

</html>
