<html>
<head>
<title>login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container margin-top-20">
		<div ng-include="'views/templates/header.html'"></div>
		<div class="row" ng-controller="breadCrumbCtrl">
			<div ng-include="'views/templates/hrmenu.html'" class='margin-top-20'
				ng-init="activeMenu='Search Employee'"></div>
		</div>
		<div class="row">
			<div
				class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-1 text-center margin-top-20">
				<div class="panel panel-primary">
					<!--col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2"-->
					<div class="panel-heading text-center">Search Aspirian</div>

					<div class="panel-body">
						<form class="form-horizontal">
							<div class="col-xs-12 input-group">
								<input type="text" class="form-control" ng-model="searchKey.$"
									placeholder="Search...">
							</div>

							<div class='margin-top-20'>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Employee Name</th>
											<th>Email id</th>
											<th>View</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="employee in employees | filter:searchKey">
											<td>{{employee.firstName}} {{employee.lastName}}</td>
											<td>{{employee.emailId}}</td>
											<td ng-click="goToProfile(employee._id)">View</td>
										</tr>
									</tbody>
								</table>

							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div ng-include="'views/templates/footer.html'"></div>
</body>

</html>


