<html>
<head>
<title>New Aspirian</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container margin-top-80">
	<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                        <img src="images/aspire-logo.jpg">
                <div class="panel panel-primary">
			<div class="panel-heading text-center">New Aspirian?</div>
			<div class="panel-body">
				<div class="row" align="center">
					<H5>Please Enter 6 digit Code Shared by your HR to continue</H5>
				</div>
				<form class="form-horizontal">
						<div class="col-xs-12 input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-star"></i></span><input type="email"
								class="form-control" id="inputEmail" ng-model="code"
								placeholder="Enter the 6 digit code">
						</div>

					<div class="row">
							<div class="col-xs-6 margin-top-20">
								<button type="submit" class="md-raised md-primary md-button md-ink-ripple secondaryBut" ng-click="">
                                                                <i class="fa fa-angle-double-left ng-scope"></i>
								<span class="ng-scope">Back </span>
								</button>
							</div>
							<div class="col-xs-1 form-group"></div>
							<div class="col-xs-6 margin-top-20">
								<button type="submit"  class="md-raised md-primary md-button md-ink-ripple mainBut"  ng-click="">
								<span class="ng-scope">Continue </span>
                                                                <i class="fa fa-angle-double-right ng-scope"></i>
								</button>
							</div>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>

</html>
