<html>
<head>
<title>New Employee</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container margin-top-80">
		<div class="row" align="center">
			<img src="images/aspire-logo.jpg">
		</div>
		<div
			class="panel-info col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
			<div class="panelHeading text-center">New Employee?</div>
			<div class="panel-body">
				<div class="row" align="center">
					<H5>Please Enter 6 digit Code Shared by your HR to continue</H5>
				</div>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-xs-12 input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-star"></i></span><input type="email"
								class="form-control" id="inputEmail" ng-model="code"
								placeholder="Enter the 6 digit code">
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="col-xs-6 margin-top-20">
								<button type="submit" class="btn btn-block" ng-click="">
									Back <span class="glyphicon glyphicon-arrow-left"></span>
								</button>
							</div>
							<div class="col-xs-1 form-group"></div>
							<div class="col-xs-6 margin-top-20">
								<button type="submit" class="btn btn-block" ng-click="">
									Continue <span class="glyphicon glyphicon-arrow-right"></span>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>

</html>
