<html>
<head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
</head>
<body>
<div class="row" align="center">
<H1>Aspire Logo</H1>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="row" align="center">
<H3>Your Profile details</H3>
</div>
  <div class="row" align="center">
</div>
<form>
<div class="row">
  <div class="form-group col-md-6">
    <input type="text" class="form-control" id="passportNumber" ng-model="passportNumber" placeholder="Passport #" required>
  </div>
    <div class="form-group col-md-6">
    <input type="text" class="form-control" id="passportPlace" ng-model="passportPlace" placeholder="Place of issue" required>
  </div>
 </div>

<div class="row">
  <div class="form-group col-md-6">
    <input type="Date" class="form-control" id="date" ng-model="validFrom" placeholder="Valid From" class="col-md-6" required>
  </div>
    <div class="form-group col-md-6">
     <input type="Date" class="form-control" id="date" ng-model="validTo" placeholder="valid To" class="col-md-6" required>
  </div>
 </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group col-md-12" >
        <button type="button" class="btn btn-default col-md-12">Skip For Now</button>
      </div>
    </div>
  <div class="col-md-3"></div>
    
 </div>

 <div class="row">
  <div class="form-group col-md-6">
    <button type="button" class="btn btn-default col-md-12">Back</button>    
  </div>
  <div class="form-group col-md-6" >
    <button type="button" class="btn btn-default col-md-12">Continue</button>
  </div>
 </div>
    
</form>
</div>
</body>

</html>
