<html>
<head>
<title>login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container margin-top-20">
		<div ng-include="'views/templates/header.html'"></div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1  text-center margin-top-10">
				<div>
					<div class="bg-danger" ng-show="tokenInvalidError">
						{{tokenInvalidError}}
						<a type="submit"
									class="md-raised md-primary md-button md-ink-ripple linkedinBut" ng-href="{{linkedinUrl}}">
									<i class="fa fa-linkedin-square" aria-hidden="true"></i> <span
										class="ng-scope">Connect with LinkedIn</span>
						</a>
					</div>
					<!-- Profile Image -->
					<div class="box box-primary">
						<div class="box-body box-profile">
							<div class="col-md-4">
								<img class="profile-user-img img-responsive"
									src={{userDetails.avatar}}
									alt="{{userDetails.firstName}} {{userDetails.lastName}}">
							</div>
							<div class="col-md-4">
								<h3 class="profile-username text-center">{{userDetails.firstName
									+" "+userDetails.lastName}}</h3>
								<h4>{{userDetails.emailId}}</h4>
								<p class="text-muted text-center">{{userDetails.dateOfJoining}}</p>
								<p class="text-muted text-center">{{userDetails.mobileNumber}}</p>
								<p class="text-muted text-center">{{userDetails.dateOfBirth}}</p>
							</div>
							<div class="col-md-4 margin-top-20">
								<div>
									<div class="col-xs-12 col-md-10 col-md-offset-1 form-group" ng-show="{{emailAvailable}}">
										<input type="email" class="form-control" id="emailId"
											ng-model="emailId" placeholder="Aspire Email Address"
											required>

										<div class="col-xs-offset-1 col-xs-5">
											<button type="submit"
												class="md-raised md-primary md-button md-ink-ripple secondaryBut"
												ng-click="saveEmailId()">Save</button>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="box-body">
								<div class="col-md-4">
									<div class="panel panel-success">
										<div class="panel-heading">
											<i class="fa fa-book "></i>Education
										</div>
										<div class="panel-body">
											<div ng-repeat="edu in userDetails.education">
												<p class="text-muted">{{edu.institution}}</p>
												<p class="text-muted">{{edu.board}}</p>
												<p class="text-muted">{{edu.degree}}</p>
												<p class="text-muted">{{edu.fromYear}}-{{edu.toYear}}</p>
												<hr>
											</div>
										</div>
									</div>

								</div>

								<div class="col-md-4">
									<div class="panel panel-danger">
										<div class="panel-heading">
											<i class="fa fa-book "></i>Experience
										</div>
										<div class="panel-body">
											<div ng-repeat="exp in userDetails.previousExp">
												<p class="text-muted">{{exp.previousCompanyName}}</p>
												<p class="text-muted">{{exp.location}}</p>
												<p class="text-muted">{{exp.designation}}</p>
												<p class="text-muted">{{exp.fromYear}}-{{exp.toYear || 'Present'}}</p>
												<hr>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="panel panel-warning">
										<div class="panel-heading">
											<i class="fa fa-book "></i>Certification
										</div>
										<div class="panel-body">
											<div ng-repeat="certification in userDetails.certification">
												<p class="text-muted">{{certification.certificationName}}</p>
												<p class="text-muted">{{certification.certificationYear}}</p>
											</div>
										</div>
									</div>

									<hr>
									<div class="panel panel-info">
										<div class="panel-heading">
											<i class="fa fa-book "></i>Specialities
										</div>
										<div class="panel-body">
											<span ng-repeat="skill in userDetails.skills" class="text-muted tag-cloud">
												{{skill.skillName}}
											</span>
										</div>
									</div>

								</div>

							</div>
							<div class="col-md-offset-7 col-md-4" ng-show="{{isHR}}">

								<div class="col-md-offset-2 col-md-4">
									<button type="submit"
										class="md-raised md-primary md-button md-ink-ripple mainBut"
										ng-click="approve()">Approve <i class="fa fa-check"
                                                                                        aria-hidden="true"></i></button>
								</div>
								<div class="col-md-offset-2 col-md-4">
									<button type="submit"
										class="md-raised md-primary md-button md-ink-ripple secondaryBut"
										ng-click="requestModify()">Request Modification</button>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<div ng-show={{isHR}}>
					<H1>Role Star</H1>
					<form class="form-horizontal">
						<div class="row">
							<div class="col-xs-10 col-md-6 form-group">
								<input type="text" class="form-control" id="title"
									ng-model="rolestar.title" placeholder="Title" required>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 col-md-6 form-group">
								<input type="text" class="form-control" id="personalEmailId"
									ng-model="rolestar.description" placeholder="Description"
									required>

							</div>
							<div class="row margin"></div>
							<div class=" col-xs-5">
								<button type="button"
									class="md-raised md-primary md-button md-ink-ripple mainBut"
									ng-click="addRolestar()">
									<span class="ng-scope">Submit 
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div ng-include="'views/templates/footer.html'"></div>
</body>

</html>




