<html>
<head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
</head>
<body>
<div class="row" align="center">
<H1>Aspire Logo</H1>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="row" align="center">
<H3>Your References For Verification</H3>
</div>
  <div class="row" align="center">
</div>
<form>
<div class="row">
  <div class="form-group">
    <input type="text" class="form-control" id="refName" ng-model="refName" placeholder="Reference Full Name">
  </div>
 </div>

 <div class="row">
  <div class="form-group col-md-6">
        <input type="text" class="form-control" id="refDesignation" ng-model="refDesignation" placeholder="Current Designation/ Title">
  </div>
  <div class="form-group col-md-6">
        <input type="text" class="form-control" id="refName" ng-model="refName" placeholder="Contact info email/ mobile">
  </div>
 </div>
<div class="row">
  <div class="form-group">
    <input type="text" class="form-control" id="refDetail" ng-model="refDetail" placeholder="How do this person know about you">
  </div>

 <div class="row">
    <div class="form-group col-md-6" >
        <button type="button" class="btn btn-default col-md-12">Add More</button>
  </div>
 </div>

 <div class="row">
  <div class="form-group col-md-6">
    <button type="button" class="btn btn-default col-md-12">Back</button>    
  </div>
  <div class="form-group col-md-6" >
    <button type="button" class="btn btn-default col-md-12">Continue</button>
  </div>
 </div>
    
</form>
</div>
</body>

</html>
