<html>
<head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="row" align="center">
<H1>Aspire Logo</H1>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="row" align="center">
<H3>Your Profile details</H3>
</div>
  <div class="row" align="center">
</div>
<form>
<div class="row">
  <div class="form-group">
    <input type="email" class="form-control" id="emergencyName1" ng-model="emergencyName1" placeholder="Emergency Prmary Contact 1 Name">
  </div>
 </div>

 <div class="row">
  <div class="form-group col-md-6">
    <select class="form-control" id="relationshipStatus1" ng-model="relationshipStatus1" placeholder="Relationship Status" class="col-md-6">
        <option  selected="selected" value = "Spouse">Spouse</option>
        <option value = "Parent">Parent</option>
      </select>
  </div>
    <div class="form-group col-md-6" >
    <input type="Number" class="form-control" id="emergencyMobile1" ng-model="emergencyMobile1" placeholder="Contact Mobile/Telephone" class="col-md-6">
  </div>
 </div>
<BR>
<div class="row">
  <div class="form-group">
    <input type="email" class="form-control" id="emergencyName2" ng-model="emergencyName2" placeholder="Emergency Prmary Contact 2 Name">
  </div>
 <div class="row">
  <div class="form-group col-md-6">
    <select type="Gender" class="form-control" id="relationshipStatus2" ng-model="relationshipStatus2" placeholder="Relationship Status" class="col-md-6">
        <option  selected="selected" value = "Spouse">Spouse</option>
        <option value = "Parent">Parent</option>
      </select>
  </div>
    <div class="form-group col-md-6" >
    <input type="Number" class="form-control" id="emergencyMobile2" ng-model="emergencyMobile2" placeholder="Contact Mobile/Telephone" class="col-md-6">
  </div>
 </div>

 <div class="row">
  <div class="form-group col-md-6">
    <button type="button" class="btn btn-default col-md-12" ng-click="goToRegistration1()">Back</button>    
  </div>
  <div class="form-group col-md-6" >
    <button type="button" class="btn btn-default col-md-12" ng-click="saveData2()">Continue</button>
  </div>
 </div>
    
</form>
</div>
</body>

</html>
