        <div class="row">
        <div class='col-xs-12 logobg'>
                <img class='logobgmask' src="images/aspire-logo.jpg"/> 
		&nbsp;&nbsp;<img class='bgmask' src="images/spacer.gif" width="6px;"/>&nbsp;
		<img class='bgmask' src="images/spacer.gif" width="5px;"/>&nbsp;
		<img class='bgmask' src="images/spacer.gif" width="4px;"/>&nbsp;
		<img class='bgmask' src="images/spacer.gif" width="3px;"/>&nbsp;
		<img class='bgmask' src="images/spacer.gif" width="2px;"/>&nbsp;
		<img class='bgmask' src="images/spacer.gif" width="1px;"/>&nbsp;&nbsp;
		<h1 class="display-4 pull-right">HRIS</h1>
        </div>
        </div>

